body {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
    height:100vh;
    background-size:contain ;
    background-position: center;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    color:white;
    align-content: center;
}